<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>后台管理系统</title>
	<link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/reset.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/invalid.css" type="text/css" media="screen" />
	<script type="text/javascript" src="__WEBPUBLIC__/Admin/js/jquery-1.9.1.min.js"></script>
</head>
<body>
<div id="main-content">
	<div class="content-box">
		<!--头部切换-->
		<div class="content-box-header">
			<h3>编辑学校</h3>
			<div class="clear"></div>
		</div>
		<div class="content-box-content">
			<div class="tab-content default-tab">
				<form action="{:U('School/schooledit')}" method="post" enctype="multipart/form-data">
					<input type="hidden" name="id" value="{$info.id}" />
					<fieldset>
						<p>
							<label>门店名称(ID:{$info.id})</label>
						</p>
						<p>
							<label>校名</label>
							<input class="text-input small-input" type="text" name="name" required value="{$info.name}"/>
						</p>
						<p>
							<label>城市</label>
							<select name="regone" class="regone" for="regtwo">
								<option value="">选择省份</option>
								<volist name="region" id="obj">
									<option value="{$obj.id}">{$obj.region_name}</option>
								</volist>
							</select>
							<select name="regtwo" class="regtwo" for="regthr">
								<option value="">选择城市</option>
							</select>
							<select name="regthr" class="regthr">
								<option value="{$info.regthr}">{$info.city}</option>
							</select>
							<input class="city" type="hidden" name="city" required value="{$info.city}"/>
						</p>
						<p>
							<label>门店</label>
							
							<input type="file" name="pic"/>
						</p>
						<p>
							<label>用户名</label>
							<input class="text-input small-input" type="text" name="username" required value="{$info.username}"/>
						</p>
						<p>
							<label>电话</label>
							<input class="text-input small-input" type="tel" name="tel" required value="{$info.tel}"/>
						</p>
						<if condition="!empty($_SESSION['s_id'])">
						<p>
							<label>密码</label>
							<input class="text-input small-input" type="password" name="password"/>
						</p>
						</if>
						<p>
							<label>地址</label>
							<input class="text-input small-input" type="text" name="address" value="{$info.address}"/>
						</p>
						<p>
							<input class="button" type="submit" value="保存" />
						</p>
					</fieldset>
					<div class="clear"></div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
<script type="text/javascript">
	$(".regone,.regtwo").on('change',function() {
		var p_id = $(this).val();
		var classname = $(this).attr("for");
		if (p_id) {
			$.ajax({
				"url":"{:U('School/getRegion')}",
				"type":"post",
				"dataType":"json",
				"data":{"p_id":p_id},
				"success":function ( res ) {
					if ( res.flag == "success") {
						var region = res.data;
						var str = "";
						for(var index in region){
							var obj = region[index];
							str += "<option value='"+obj.id+"'>"+obj.region_name+"</option>";
						}
						$("."+classname).html(str);
					}else{
						alert(res.message);
					}
				}
			})
		}else{
			alert("父节点选择有误！");
		}
	});

	$(".regthr").on('change',function () {
		var city = $("option[value="+$(this).val()+"]").text();
		$('.city').val(city);
	});
</script>
</html>