<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1,minimum-scale=1"/>
        <link rel="stylesheet" href="__WEBPUBLIC__/Home/css/car.css" />
        <script type="text/javascript" src="__JS__/jquery.min.js"></script>
        <script type="text/javascript" src="__JS__/car.js"></script>
        <script type="text/javascript" src="__JS__/public.js"></script>

        <title>驾校</title>
        <style type="text/css">
        </style>
    </head>
    <body>
    <block name="main"></block>
    <block name="footer"></block>
    </body>
</html>
