<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1,minimum-scale=1"/>
		<link rel="stylesheet" href="car.css" />
		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="car.js"></script>
		<title>城市</title>
	</head>
	<body>
		<!--<div class="driverss-head">
			<a href="#"></a>
			<i></i>
			<span>车辆预约</span>
		</div>-->
		<div class="city-head">
			<div>
				<input type="text" placeholder="输入城市搜索"/>
			</div>
			<p>当前定位<span class="yellow">天津</span></p>
		</div>
		<div class="city-already">
			<p>已开通城市</p>
			<ul>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>
				<li>北京</li>				
			</ul>
		</div>
		
	</body>
</html>
