<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1,minimum-scale=1"/>
		<link rel="stylesheet" href="car.css" />
		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="car.js"></script>
		<title>东风平头教练</title>
	</head>
	<body>
		<div class="coach-head">
			<p class="yellow">东风平头教练车</p>
			<p>车牌号&nbsp;&nbsp;C8888学</p>
			<p>若您预约了此车，请您在预约时间内准时到达训练场。若临时有事，请致电（7689563）取消预约</p>
		</div>
		<div class="coach-cont">
			<div class="coach-item pad3 bgw mab10">
				<div class="coach-per ovh">
					<img src="img/per.png"/ class="fl">
					<div class="coach-word fl">
						<p class="fs16">柳俊</p>
						<p class="fs13">18289562341</p>
					</div>
					<div class="coach-check fr centen">
						<img src="img/check.png"/>
						<p class="fs13">国泰驾校</p>
					</div>
				</div>
				<div class="coach-time fs14">
					<span class="fs16">预约时间</span>
					2017-03-14&nbsp;&nbsp;10:00-11:00
				</div>
			</div>
			<div class="coach-item pad3 bgw mab10">
				<div class="coach-per ovh">
					<img src="img/per.png"/ class="fl">
					<div class="coach-word fl">
						<p class="fs16">柳俊</p>
						<p class="fs13">18289562341</p>
					</div>
					<div class="coach-check fr centen">
						<img src="img/check.png"/>
						<p class="fs13">国泰驾校</p>
					</div>
				</div>
				<div class="coach-time fs14">
					<span class="fs16">预约时间</span>
					2017-03-14&nbsp;&nbsp;10:00-11:00
				</div>
			</div>
			<div class="coach-item pad3 bgw mab10">
				<div class="coach-per ovh">
					<img src="img/per.png"/ class="fl">
					<div class="coach-word fl">
						<p class="fs16">柳俊</p>
						<p class="fs13">18289562341</p>
					</div>
					<div class="coach-check fr centen">
						<img src="img/check.png"/>
						<p class="fs13">国泰驾校</p>
					</div>
				</div>
				<div class="coach-time fs14">
					<span class="fs16">预约时间</span>
					2017-03-14&nbsp;&nbsp;10:00-11:00
				</div>
			</div>
			<div class="coach-remark bgw">
				<textarea placeholder="请填写备注" class="fs16"></textarea>
			</div>
		</div>
		<div class="coach-foot">
			<span class="bgyellow disi fs15">立即预约</span>
			<p class="fs12">提交前请您仔细核对您的信息，确保无误后提交</p>
		</div>
	</body>
</html>
