<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1,minimum-scale=1"/>
		<link rel="stylesheet" href="car.css" />
		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="car.js"></script>
		<title>审核</title>
		<style type="text/css">
		</style>
	</head>
	<body>
		<!--<div class="driverss-head">
			<a href="#"></a>
			<i></i>
			<span>车辆预约</span>
		</div>-->
		<div class="driverss-per">
			<span class="fl">
				我的驾校
				<i>立即审核</i>
			</span>
			<img src="img/car1.png"/ class="fr">
		</div>
		<div class="driverss-cont mab50">
			<div class="site-head">
				<p class="driverss-site fl">
					当前定位
					<span class="yellow">天津</span>
				</p>
				<i class="fr">></i>
			</div>
			<div class="driverss-item">
				<div class="img">
					<img src="img/img.png"/>
					<p>和平驾校</p>
					<span>预约</span>
				</div>
				<div class="img">
					<img src="img/img.png"/>
					<p>和平驾校</p>
					<span>预约</span>
				</div>
				<div class="img">
					<img src="img/img.png"/>
					<p>和平驾校</p>
					<span>预约</span>
				</div>
			</div>
			<div class="driverss-item mat10">
				<div class="img">
					<img src="img/img.png"/>
					<p>和平驾校</p>
					<span>预约</span>
				</div>
				<div class="img">
					<img src="img/img.png"/>
					<p>和平驾校</p>
					<span>预约</span>
				</div>
				<div class="img">
					<img src="img/img.png"/>
					<p>和平驾校</p>
					<span>预约</span>
				</div>
			</div>
			<div class="driverss-item mat10">
				<div class="img">
					<img src="img/img.png"/>
					<p>和平驾校</p>
					<span>预约</span>
				</div>
				<div class="img">
					<img src="img/img.png"/>
					<p>和平驾校</p>
					<span>预约</span>
				</div>
				<div class="img">
					<img src="img/img.png"/>
					<p>和平驾校</p>
					<span>预约</span>
				</div>
			</div>
		</div>
		<div class="driverss-foot">
			<div class="fl on">
				<img src="img/car2.png"/>
				<p>驾校</p>
			</div>
			<div class="fl">
				<img src="img/wallet.png"/>
				<p>预约报名</p>
			</div>
			<div class="fl">
				<img src="img/mine.png"/>
				<p>我的</p>
			</div>
		</div>
	</body>
</html>
