<extend name="Public/header"/>
<block name="main">
		<div class="mab50">
			<div class="person-item pad0-3 bgw">
				<div class="borb1 h40-lh40">
					<span class="fl">姓名</span>
					<span class="fr color-gray">柳俊</span>
				</div>			
			</div>
			<div class="person-item pad0-3  bgw">
				<div class="borb1 h40-lh40">
					<span class="fl">手机号</span>
					<span class="fr color-gray">18256894562</span>
				</div>			
			</div>
			<div class="person-item pad0-3 bgw">
				<div class="h40-lh40">
					<span>理想练车区域</span>
				</div>
				<textarea class="intro-txt"></textarea>
			</div>
			<div class="intro-intro">
			<div class="pad20-3 fs14">介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
			<p><span class="bgyellow">提交介绍</span></p>
		</div>
		</div>
		<div class="driverss-foot">
			<div class="fl" linkto="{:U('Index/school')}">
				<img src="__IMG__/car4.png"/>
				<p>驾校</p>
			</div>
			<div class="fl on">
				<img src="__IMG__/wallet1.png"/>
				<p>预约报名</p>
			</div>
			<div class="fl" linkto="{:U('User/user')}">
				<img src="__IMG__/mine.png"/>
				<p>我的</p>
			</div>
		</div>
</block>
<block name="footer"></block>