<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1,minimum-scale=1"/>
		<link rel="stylesheet" href="car.css" />
		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="car.js"></script>
		<title>个人中心</title>
	</head>
	<body>
		<div class="person-head pad0-3 bgw">
			<div class="ovh pad10-0 borb1">
				<span class="fl">头像</span>
				<img src="img/per.png"/ class="fr">
			</div>
			<div class="ovh">
				<span class="fl">昵称</span>
				<span class="fr color-gray">幸运罗曼</span>
			</div>
		</div>
		<div class="person-check ovh pad0-3">
			<p class="fl color-gray">审核状态</p>
			<p class="fr yellow">未审核</p>
		</div>
		<div class="mab50">
			<div class="person-item pad0-3 bgw">
				<div class="borb1 h40-lh40">
					<span class="fl">姓名</span>
					<span class="fr color-gray">柳俊</span>
				</div>			
			</div>
			<div class="person-item pad0-3  bgw">
				<div class="borb1 h40-lh40">
					<span class="fl">手机号</span>
					<span class="fr color-gray">18256894562</span>
				</div>			
			</div>
			<div class="person-item pad0-3 bgw">
				<div class="h40-lh40">
					<span class="fl">驾校</span>
					<span class="person-next fr"></span>
					<span class="fr color-gray">天津&nbsp;&nbsp;国泰驾校</span>
				</div>			
			</div>
		</div>
		<div class="coach-foot">
			<span class="bgyellow disi fs15">提交审核</span>
			<p class="fs12">提交前请您仔细核对您的信息，确保无误后提交</p>
		</div>
	</body>
</html>
