<extend name="Public/header"/>
<block name="main">
		<!--<div class="driverss-head">
			<a href="#"></a>
			<i></i>
			<span>车辆预约</span>
		</div>-->
		<div class="driverss-per <if condition='!empty($user["sname"])'>examine-per</if>" linkto="{:U('User/userinfo')}">
			<span class="fl">
				我的驾校
				<i><if condition='empty($user["sname"])'>立即审核<else/>{$user["sname"]}</if></i>
			</span>
			<img src="<if condition='empty($user["logo"])'>__IMG__/car1.png<else/>{$user["logo"]}</if>"/ class="fr">
		</div>
		<div class="driverss-cont mab50">
			<div class="site-head" linkto="{:U('Index/city')}">
				<p class="driverss-site fl">
					当前地址
					<span class="yellow city0">{$_REQUEST['city']}</span>
				</p>
				<i class="fr iconright"></i>
			</div>
			<div class="driverss-item">

				<volist name="schlist" id="school">
					<div class="img">
						<img src="{$school['logo']}"/>
						<p>{$school['name']}</p>
						<span linkto="{:U('Car/carList',array('sid'=>$school['id']))}">预约</span>
					</div>
				</volist>
					
			</div>
		</div>
		<div class="driverss-foot">
			<div class="fl on">
				<img src="__IMG__/car2.png"/>
				<p>驾校</p>
			</div>
			<div class="fl" linkto="{:U('Index/introduce')}">
				<img src="__IMG__/wallet.png"/>
				<p>预约报名</p>
			</div>
			<div class="fl" linkto="{:U('User/user')}">
				<img src="__IMG__/mine.png"/>
				<p>我的</p>
			</div>
		</div>
		<div class="hid0" id="container"></div>
</block>
<block name="footer">
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
	<if condition="empty($_REQUEST['city']) AND false">
		<script>
			var citylocation,map,marker = null;
			var init = function() {
			    var center = new qq.maps.LatLng(39.916527,116.397128);
			    map = new qq.maps.Map(document.getElementById('container'),{
			        center: center,
			        zoom: 13
			    });
			    //调用城市服务信息
			    citylocation = new qq.maps.CityService({
			        complete : function(results){
			        	console.log(results);
			        }
			    });
			}
		</script>
	</if>
	<script>
		var citylocation,map,marker = null;
		var init = function() {
		    var center = new qq.maps.LatLng(39.916527,116.397128);
		    map = new qq.maps.Map(document.getElementById('container'),{
		        center: center,
		        zoom: 13
		    });
		    //调用城市服务信息
		    citylocation = new qq.maps.CityService({
		        complete : function(results){
		        	console.log(results);
		        }
		    });
		}

		wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '{$parameter["appId"]}', // 必填，公众号的唯一标识
            timestamp:'{$parameter["timestamp"]}' , // 必填，生成签名的时间戳
            nonceStr: '{$parameter["nonceStr"]}', // 必填，生成签名的随机串
            signature: '{$parameter["signature"]}',// 必填，签名，见附录1
            jsApiList: ['getLocation'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function(){
        	init();
            wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                success: function (res) {
                    var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                    var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                    console.log(res);
                    var latLng = new qq.maps.LatLng(latitude, longitude);
			    	citylocation.searchCityByLatLng(latLng);
                }
            });
        });
	</script>
</block>
