<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1,minimum-scale=1"/>
		<link rel="stylesheet" href="car.css" />
		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="car.js"></script>
		<title>选择教练</title>
	</head>
	<body>
		<!--<div class="driverss-head">
			<a href="#"></a>
			<i></i>
			<span>车辆预约</span>
		</div>-->
		<div class="school-head">
			<img src="img/logo1.png"/>
			<p>国泰驾校</p>		
		</div>
		<div class="school-select bgyellow">选择车辆</div>
		<div class="school-cont">
			<div class="school-item">
				<img src="img/img2.png"/ class="fl">
				<div class="fl">
					<p>东风平头教练车</p>
					<p>车牌号&nbsp;&nbsp;C8888学</p>
				</div>			
				<span class="fr on">可预约</span>
			</div>
			<div class="school-item">
				<img src="img/img2.png"/ class="fl">
				<div class="fl">
					<p>东风平头教练车</p>
					<p>车牌号&nbsp;&nbsp;C8888学</p>
				</div>			
				<span class="fr on">可预约</span>
			</div>
			<div class="school-item">
				<img src="img/img2.png"/ class="fl">
				<div class="fl">
					<p>东风平头教练车</p>
					<p>车牌号&nbsp;&nbsp;C8888学</p>
				</div>			
				<span class="fr">已约满</span>
			</div>
			<div class="school-item">
				<img src="img/img2.png"/ class="fl">
				<div class="fl">
					<p>东风平头教练车</p>
					<p>车牌号&nbsp;&nbsp;C8888学</p>
				</div>			
				<span class="fr">已约满</span>
			</div>
			<div class="school-item">
				<img src="img/img2.png"/ class="fl">
				<div class="fl">
					<p>东风平头教练车</p>
					<p>车牌号&nbsp;&nbsp;C8888学</p>
				</div>			
				<span class="fr">已约满</span>
			</div>
			<div class="school-item">
				<img src="img/img2.png"/ class="fl">
				<div class="fl">
					<p>东风平头教练车</p>
					<p>车牌号&nbsp;&nbsp;C8888学</p>
				</div>			
				<span class="fr">已约满</span>
			</div>
		</div>
		
	</body>
</html>
