<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1,minimum-scale=1"/>
		<link rel="stylesheet" href="car.css" />
		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="car.js"></script>
		<title>选择时间</title>
	</head>
	<body>
		<div class="time-head">
			<div class="school-item">
				<img src="img/img2.png"/ class="fl">
				<div class="fl">
					<p>东风平头教练车</p>
					<p>车牌号&nbsp;&nbsp;C8888学</p>
				</div>			
				<span class="fr on">可预约</span>
			</div>
		</div>
		<div class="school-select bggreen time-select">选择时间</div>
		<div class="time-cont">
			<div class="fl">
				<div class="time-date on" name="1">
					<p>3月14</p>
					<p>周二</p>
				</div>
				<div class="time-date" name="2">
					<p>3月15</p>
					<p>周二</p>
				</div>
				<div class="time-date" name="3">
					<p>3月16</p>
					<p>周二</p>
				</div>
				<div class="time-date" name="4">
					<p>3月17</p>
					<p>周二</p>
				</div>			
			</div>
			<div class="fr">
				<div class="time-item" forname="1">
					<span>7:00</span>
					<span>8:00</span>
					<span>9:00</span>
					<span class="on">10:00</span>
					<span class="on">11:00</span>
					<span class="on">12:00</span>
					<span class="on">13:00</span>
					<span class="on">14:00</span>
					<span class="on">15:00</span>
					<span class="on">16:00</span>
					<span class="on">17:00</span>
					<span class="on">18:00</span>
					<span class="on">10:00</span>
					<span class="on">11:00</span>
					<span class="on">12:00</span>
					<span class="on">13:00</span>
					<span class="on">14:00</span>
					<span class="on">15:00</span>
					<span class="on">16:00</span>
					<span class="on">17:00</span>
					<span class="on">18:00</span>
					<span>7:00</span>
					<span>8:00</span>
					<span>9:00</span>
					<span class="on">10:00</span>
					<span class="on">11:00</span>
					<span class="on">12:00</span>
					<span class="on">13:00</span>
					<span class="on">14:00</span>
					<span class="on">15:00</span>
					<span class="on">16:00</span>
					<span class="on">17:00</span>
					<span class="on">18:00</span>
					<span class="on">10:00</span>
					<span class="on">11:00</span>
					<span class="on">12:00</span>
					<span class="on">13:00</span>
					<span class="on">14:00</span>
					<span class="on">15:00</span>
					<span class="on">16:00</span>
					<span class="on">17:00</span>
					<span class="on">18:00</span>
				</div>
				<div class="time-item hid0" forname="2">
					<span>7:00</span>
					<span>8:00</span>
					<span>9:00</span>
					<span class="on">10:00</span>
					<span class="on">11:00</span>
					<span class="on">12:00</span>
					<span class="on">13:00</span>
					<span class="on">14:00</span>
					<span class="on">15:00</span>
					<span class="on">16:00</span>
					<span class="on">17:00</span>
					<span class="on">18:00</span>
				</div>
				<div class="time-item hid0" forname="3">
					<span>7:00</span>
					<span>8:00</span>
					<span>9:00</span>
					<span>7:00</span>
					<span>8:00</span>
					<span>9:00</span>
					<span class="on">10:00</span>
					<span class="on">11:00</span>
					<span class="on">12:00</span>
					<span class="on">13:00</span>
					<span class="on">14:00</span>
					<span class="on">15:00</span>
					<span class="on">16:00</span>
					<span class="on">17:00</span>
					<span class="on">18:00</span>
				</div>
				<div class="time-item hid0" forname="4">
					<span>7:00</span>
					<span>8:00</span>
					<span>9:00</span>
					<span class="on">16:00</span>
					<span class="on">17:00</span>
					<span class="on">18:00</span>
					<span class="on">10:00</span>
					<span class="on">11:00</span>
					<span class="on">12:00</span>
					<span class="on">13:00</span>
					<span class="on">14:00</span>
					<span class="on">15:00</span>
					<span class="on">16:00</span>
					<span class="on">17:00</span>
					<span class="on">18:00</span>
				</div>
			</div>
		</div>
		<div class="time-foot">
			<span class="bgyellow">预约</span>
		</div>
	</body>
</html>
