<extend name="Public/header"/>
<block name="main">
		<!--<div class="driverss-head">
			<a href="#"></a>
			<i></i>
			<span>车辆预约</span>
		</div>-->
		<div class="school-head">

			<img src="{$carlist[0]['logo']}"/>
			<p>{$carlist[0]['sname']}</p>
		</div>
		<div class="school-select bgyellow">选择车辆</div>
		<div class="school-cont">
			<volist name="carlist" id="car">
				<div class="school-item" linkto="{:U('Car/paycar',array('id'=>$car['id']))}">
					<img src="{$car['pic']}"/ class="fl">
					<div class="fl">
						<p>{$car['name']}</p>
						<p>车牌号&nbsp;&nbsp;{$car['carcode']}学</p>
					</div>			
					<span class="fr <if condition='$car["istrue"]'>on</if>">可预约</span>
				</div>
			</volist>
			<if condition="empty($carlist)">
				无车辆
			</if>
		</div>
</block>
<block name="footer">
</block>
