<extend name="Public/header"/>
<block name="main">
	<div class="person-head pad0-3 bgw">
		<div class="ovh pad10-0 borb1 pore">
			<span class="fl">头像</span>
			<img src="{$user['head_pic']}" class="fr viewhead"/>
			<input type="file" / class="per-img">
		</div>
		<div class="ovh">
			<span class="fl">昵称</span>
			<span class="fr color-gray blurdiv" type="nick_name" contenteditable="true">{$user['nick_name']}</span>
		</div>
	</div>
	<div class="person-check ovh pad0-3">
		<p class="fl color-gray">审核状态</p>
		<p class="fr yellow"><if condition="$user['istrue'] eq 0">未审核<else/>已审核</if></p>
	</div>
	<div class="mab50">
		<div class="person-item pad0-3 bgw">
			<div class="borb1 h40-lh40">
				<span class="fl">姓名</span>
				<span class="fr color-gray blurdiv" type="name" <if condition="$user['istrue'] eq 0">contenteditable="true"</if>><if condition="empty($user['name'])">无<else/>{$user['name']}</if></span>
			</div>			
		</div>
		<div class="person-item pad0-3  bgw">
			<div class="borb1 h40-lh40">
				<span class="fl">手机号</span>
				<span class="fr color-gray blurdiv" type="phone" <if condition="$user['istrue'] eq 0">contenteditable="true"</if>><if condition="empty($user['phone'])">无<else/>{$user['tel']}</if></span>
			</div>			
		</div>
		<div class="person-item pad0-3 bgw">
			<div class="h40-lh40" <if condition="$user['istrue'] eq 0">linkto="{:U('Index/list')}"</if>>
				<span class="fl">驾校</span>
				<span class="person-next fr"></span>
				<span class="fr color-gray"><if condition="empty($user['sname'])">无<else/>{$user['city']}&nbsp;&nbsp;{$user['sname']}</if></span>
			</div>			
		</div>
	</div>
	<div class="coach-foot">
		<span class="bgyellow disi fs15 subbtn">提交审核</span>
		<p class="fs12">提交前请您仔细核对您的信息，确保无误后提交</p>
	</div>
</block>
<block name="footer">
	<script type="text/javascript">
	$(".blurdiv").on('blur',function(){
		var value = $(this).text();
		var clum = $(this).attr('type');
		if (clum=="phone" && !/^1[3|4|5|7|8]\d{9}$/.test(value)) {
			layer.msg("手机号输入不合法！");
			return;
		}
		if (!value) {
			layer.msg("内容不能为空！");
			$(this).text("无");
			return;
		}
		$.ajax({
			"url": "{:U('User/change')}",
			"data": {"value":value,"clum": clum},
			"dataType": "json",
			"type":"post",
			"success": function( res ){
				if ( res.flag == "success") {

				}
				layer.msg(res.message);
			}
		});

	});

	$(".subbtn").on('click',function () {
		layer.msg("请耐心等待吧！");
	});


	function ajax(){
        var filesize = this.files[0].size;
        if (filesize > 10000*1024) {
            alert("请上传大小在500k以下的图片");
            return false;
        }
        var files = this.files;
        var picname = files[0].name;
        var reader = new FileReader();
        reader.onload = function(e){
            var src = e.target.result;
            $.ajax({
                type:"post",
                url:"{:U('User/uploadPic')}",
                data: {"pic":src,"pic_name":picname},
                dataType : "json",
                success : function(data){
                    //var data = JSON.parse(data);
                    console.log(data.message);
                    if(data['flag'] == "success"){
                        $(".viewhead").attr("id",data['data']['id']);
                        $(".viewhead").attr("src",data['data']['path']);
                    }
                }
            });
        }
        reader.readAsDataURL(files[0]);
    }
    $("input[type='file']").on('change',ajax);
	</script>
</block>